<!DOCTYPE html>
<html>
<head>
  <title>AcmeStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>
	<% if user_signed_in? %>
		<span> Hola <%= current_user.name %></span>
		<%= link_to 'exit', destroy_user_session_path, method: 'delete'  %>
	<% else %>
		<%= link_to 'login', new_user_session_path  %>
		<%= link_to 'Registrarse', new_user_registration_path  %>
		
	<% end %>

</p>



<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
